# Arquivos de Build e Pastas Temporárias
###################################
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.log
*.pfx
*.vsix
*.suo
*.user
*.pdb
*.tmp
*.bak
*.orig
*.swp
*.zip
*.rar
*.7z
*.gz

# Arquivos do Visual Studio e IDEs
###################################
# Pastas de cache e configurações de solução
.vs/
*.vsscc
*.scc
*.vshost.*
*.aps
*.ncb
*.opensdf
*.sdf
*.tlog
*.ipch
_ReSharper.*/
*.[Rr]e[Ss]harper/
*.resharper
.idea/
.vscode/

# Build do ASP.NET Core
**/*.[Rr]azor.cs

# Arquivos de Teste
TestResults/

# Pacotes NuGet
################
# Ignora a pasta de pacotes NuGet em nível de solução (se não estiver usando restauração baseada em projeto)
packages/

# Arquivos específicos do .NET
*.csproj.user
*.vcxproj.user
*.projitems.user
*.resharper

# Cache de Publicação
**/publish/

# Arquivos Gerados pelo .NET CLI
###################################
# Ignora o arquivo de propriedades do runtime
runtimeconfig.template.json

# Arquivos do Docker (se não forem necessários para o build)
# *.dockerignore
# Dockerfile

# Arquivos de Configuração de Usuário
###################################
# Arquivos de configuração específicos do ambiente (se você não quiser versioná-los)
appsettings*.Development.json
appsettings*.Staging.json
appsettings*.Production.json
appsettings.Local.json
*.local.config
secrets.json

# Configurações de IIS Express
**/.vs/*.config

# Adicione esta seção se você usa o Azure
# Azure App Service e funções do Azure
*.publishsettings
*.runsettings
appsettings.json.user
local.settings.json

# Arquivos do Git
# Evita que o próprio arquivo .gitignore seja ignorado se houver algum padrão mais genérico
!.gitignore

# Outras Ferramentas e Plugins (opcional)
###################################
# NCrunch
# *.ncrunchproject
# NUnit Test result
# *.trx